<%- include("partials/header"); -%>

<h1>Contact Me</h1>
<p class= "contactMeText">  <%=  contactContent  %>  </p>


<div class="contact-details">
  <a href = "https://www.instagram.com/ahmetsrtsr/" class="contact-icon fa-brands fa-instagram fa-6x"></a>
  <a href = "https://www.youtube.com/channel/UCluKGqq4mpuBcyZo-yEY9mg" class="contact-icon fa-brands fa-youtube fa-6x"></a>
  <a href = "https://www.linkedin.com/in/ahmetserteser/" class="contact-icon fa-brands fa-linkedin fa-6x"></a>
  <a href = "https://twitter.com/elonmusk?" class="contact-icon fa-brands fa-twitter fa-6x"></a>
  <a href = "https://www.facebook.com/ahmet.serteser.5/" class="facebook contact-icon fa-brands fa-facebook fa-6x"></a>
</div>


<%- include("partials/footer"); -%>
