<%- include("partials/header"); -%>

<!-- Dynamically, whichever title you're trying to go: -->
<!-- "posts" is the post found by id at app.get("/posts/:postId" -->
<h1> <%=  posts.postTitle  %> </h1>
<p>  <%=  posts.postContent  %>  </p>

<%- include("partials/footer"); -%>
