<%- include("partials/header"); -%>

<!-- Dynamically, whichever title you're trying to go: -->
<h1> <%=  posts.postTitle  %> </h1>
<p>  <%=  posts.postContent  %>  </p>

<%- include("partials/footer"); -%>
